<p id="notice"><%= notice %></p>

<h1>Froms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @froms.each do |from| %>
      <tr>
        <td><%= from.name %></td>
        <td><%= link_to 'Show', from %></td>
        <td><%= link_to 'Edit', edit_from_path(from) %></td>
        <td><%= link_to 'Destroy', from, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New From', new_from_path %>
