<%= form_with(model: stop, local: true) do |form| %>
  <% if stop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stop.errors.count, "error") %> prohibited this stop from being saved:</h2>

      <ul>
      <% stop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :stop_price %>
  </div>

  <div class="field">
    <%= form.label :arrival %>
    <%= form.datetime_select :arrival, id: :stop_arrival %>
  </div>

  <div class="field">
    <%= form.label :city_id %>
    <%= collection_select(:stop, :city_id, City.all, :id, :name, :prompt => "Select City") %>
  </div

  <div class="field">
    <%= form.label :journey_id %>
    <%= collection_select(:stop, :journey_id, Journey.all, :id, :price, :prompt => "Select City") %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
