<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @stop.price %>
</p>

<p>
  <strong>Arrival:</strong>
  <%= @stop.arrival %>
</p>

<p>
  <strong>City:</strong>
  <%= @stop.city %>
</p>

<p>
  <strong>Journey:</strong>
  <%= @stop.journey %>
</p>

<%= link_to 'Edit', edit_stop_path(@stop) %> |
<%= link_to 'Back', stops_path %>
