<%= form_with(model: sit, local: true) do |form| %>
  <% if sit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sit.errors.count, "error") %> prohibited this sit from being saved:</h2>

      <ul>
      <% sit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number, id: :sit_number %>
  </div>

  <div class="field">
    <%= form.label :occupied %>
    <%= form.check_box :occupied, id: :sit_occupied %>
  </div>

  <div class="field">
    <%= form.label :bus_id %>
    <%= collection_select(:sit, :bus_id, Bus.all, :id, :carrier_name, :prompt => "Select City") %>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
