<p id="notice"><%= notice %></p>

<h1>Sits</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Occupied</th>
      <th>Bus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sits.each do |sit| %>
      <tr>
        <td><%= sit.number %></td>
        <td><%= sit.occupied %></td>
        <td><%= sit.bus %></td>
        <td><%= link_to 'Show', sit %></td>
        <td><%= link_to 'Edit', edit_sit_path(sit) %></td>
        <td><%= link_to 'Destroy', sit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sit', new_sit_path %>
