
  <%= form_for @journey do |f| %>
    <% if journey.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(journey.errors.count, "error") %> prohibited this journey from being saved:</h2>

        <ul>
        <% journey.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <p id="form-lebel"><%= f.label :Fare %><p>
      <%= f.text_field :price, :placeholder =>"price for this trip", :required => true  %>
    </div>

    <div class="form-group">
      <p id="form-lebel"><%= f.label :departure %><p>
      <%= f.datetime_select :departure, id: :journey_departure, :required => true  %>
    </div>

    <div class="form-group">
      <p id="form-lebel"><%= f.label :arrival %><p>
      <%= f.datetime_select :arrival, id: :journey_arrival %>
    </div>

    <div class="form-group">
      <p id="form-lebel"><%= f.label :Brief_Comments %><p>
      <%= f.text_area :description, id: :journey_description %>
    </div>

    <div class="form-group">
      <p id="form-lebel">
        <span><%= f.label :from_id %></span>
        <span style="margin-left: 200px;"><%= f.label :to_id %></span>

      <p>
      <span><%= collection_select(:journey, :from_id, From.all, :id, :name, :prompt => "Select City") %></span>
      <span style="margin-left: 100px;"> <%= collection_select(:journey, :to_id, To.all, :id, :name, :prompt => "Select City") %></span>
    </div>

    <div class="actions">
      <input  style= "margin-left: 40%;" type="submit" name="commit" value="Add Trip" data-disable-with="Create Journey" class="btn-purchase">
    </div>

  <% end %>

